@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fros-blue-color: #0050d5;
    --light-blue-color: #16c5ff;
    --dark-color: #202020;
    --light-gray: #dedede;
    --dark-gray: #a1a1a0;
    --light-color: #fff;
    --font: 'Montserrat', sans-serif;
    --transition: all 0.3s ease-in-out;
    --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2) !important;
}

/* Global Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: var(--font);
}
img {
    width: 100%;
    display: inline-block;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--dark-color);
}

/* Utility Classes */
.bg-blue { background-color: var(--fros-blue-color); }
.bg-white { background-color: var(--light-color); }
.text-blue { color: var(--fros-blue-color); }
.text-white { color: var(--light-color); }
.text-center { text-align: center; }
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid { display: grid; }
.container {
    max-width: 95vw;
    margin: 0 auto;
    padding: 0 0.7rem;
}
input { outline: 0; }

/* Typography */
.lead { font-size: 25px; text-transform: capitalize; }
h1, h2, h3 {
    text-transform: capitalize;
    margin-top: 0;
    line-height: 1.3;
}
.text {
    opacity: 0.9;
}
.text-md { font-size: 1.5rem; }
.text-lg { font-size: 2rem; font-weight: 500; }
.text-sm { font-size: 1.3rem; }
.py { padding: 10.9rem 0; }

/* Buttons */
.btn, button {
    border: none;
    cursor: pointer;
}
.btn {
    padding: .9rem 4rem;
    border-radius: 3rem;
    display: inline-block;
    background-color: var(--light-color);
    font-weight: 500;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
.btn:hover { box-shadow: var(--box-shadow); }
.btn-white { color: var(--fros-blue-color); }
.btn-light-blue {
    background-color: var(--light-blue-color);
    color: var(--light-color);
}
.btn-blue {
    background-color: var(--fros-blue-color);
    color: var(--light-color);
}
.btn-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.btn-group .btn {
    width: 100%;
}
.btn-group .btn:first-child {
    margin-bottom: 2rem;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 0;
    z-index: 999;
    background-color: var(--fros-blue-color);
}
.navbar .container { justify-content: space-between; }
.navbar-brand img { width: 168px; }
.navbar-show-btn, .navbar-hide-btn {
    background-color: transparent;
    width: 30px;
    transition: var(--transition);
}
button[class^=navbar]:hover { transform: scale(1.1); }
.navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 8rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
    transform: translateX(110%);
    transition: var(--transition);
    z-index: 1000;
}
.navbar-show { transform: translateX(0); }
.navbar-hide-btn {
    position: absolute;
    right: 2rem;
    top: 4.5rem;
}
.nav-item { margin: 1.4rem 0; }
.nav-link {
    opacity: 0.8;
    font-weight: 600;
    transition: var(--transition);
    display: flex;
    color: white;
    align-items: right;
}
.nav-link:hover {
    opacity: 1;
    color: var(--fros-blue-color);
    transform: translateX(10px);
}

/* User Profile Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .dropbtn {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover { background-color: #ddd; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color: #5699dc; }

/* User Profile Info */
.user-profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.user-info {
    display: flex;
    align-items: center;
}
.user-info h3 { font-weight: 500; }
.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 15px;
}
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu { max-height: 400px; }
.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.sub-menu-link p { width: 100%; }
.sub-menu-link-hover::p { font-weight: 600; }
.sub-menu-link-hover::span {
    transform: translateX(5px);
    transition: transform 0.5s;
}
.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link-hover::span {
    transform: translateX(5px);
}

/* Header Inner */
.header-inner { padding-top: 10rem; }
.header-inner-left h1 {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 0;
}
.header-inner-left h1 span {
    font-weight: 600;
    text-transform: uppercase;
}
.header-inner-left .lead { opacity: 0.9; }
.header-inner-left .text {
    margin: 5.8rem 0;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.header-inner-left .btn-group { justify-content: center; }
.header-inner-right { margin-top: 2rem; }
.header-inner-right img {
    max-width: 500px;
    margin: 30px 0;
    padding: 3rem;
}

/* About Section */
.section-head h2 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: center;
}
.border-line {
    height: .4rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--light-blue-color);
}
.about { margin-bottom: 5rem; }
.about-left { max-width: 600px; }
.about-right .img { padding: 3rem; }
.about h2 span { font-weight: 500; }
.about-text { margin: 3rem 0; }
.about-text p { max-width: 480px; }

/* Services Section */
.services-box { text-align: center; padding: 3rem; }
.services-icon {
    max-width: 150px;
    margin-right: auto;
    margin-left: auto;
}
.services-icon img { width: 100%; }
.services-content h4 { font-size: 1.8rem; font-weight: 500; }
.services-content p {
    font-size: 1.4rem;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

/* Work Section */
.work-box {
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--light-color);
    transition: var(--transition);
}
.work-box:hover { box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); }
.work-box img { border-radius: 5px 5px 0 0; }
.work-content {
    padding: 3rem 3rem 1rem 3rem;
    text-align: center;
}
.work-content h2 {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 600;
    transition: var(--transition);
}
.work-content h2:hover { color: var(--fros-blue-color); }
.work-content .text { font-size: 1.3rem; }

/* Contact Section */
.contact-item {
    text-align: center;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}
.contact-item:hover { box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); }
.contact-item-icon {
    max-width: 70px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
}
.contact-item img { width: 100%; }
.contact-item h2 {
    font-size: 1.8rem;
    font-weight: 500;
    transition: var(--transition);
    text-transform: capitalize;
}
.contact-item h2:hover { color: var(--fros-blue-color); }

/* Footer */
.footer {
    padding: 6rem 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer img { width: 100%; }
.footer-about,
.footer-services,
.footer-work,
.footer-newsletter {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.footer-about img { max-width: 168px; }
.footer-about-text { margin: 3rem 0; }
.footer h3 {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.footer h2:hover { color: var(--fros-blue-color); }
.footer a { color: var(--light-color); }
.footer a:hover { color: var(--fros-blue-color); }
.footer-work-item { margin-bottom: 2rem; }
.footer-newsletter form input {
    outline: 0;
    border: 0;
    padding: 1.2rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    background-color: var(--light-color);
    font-weight: 500;
}
.footer-newsletter form input::placeholder {
    font-weight: 400;
    color: var(--dark-gray);
}
.footer-newsletter form button {
    padding: 1.2rem 3rem;
    border-radius: .5rem;
    font-weight: 500;
}
.footer-copyright {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.2rem;
}
.footer-menu { display: flex; flex-wrap: wrap; }
.footer-menu-item {
    margin-right: 4rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
}
.footer-menu-item:hover { color: var(--fros-blue-color); }

/* Media Queries */
@media (max-width: 1199px) {
    .about-right {
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 991px) {
    .navbar { padding: 2rem 0; }
    .navbar-collapse { padding: 8rem 3rem; }
    .navbar-hide-btn { top: 2rem; }
    .header-inner-left .btn-group { justify-content: center; }
}
@media (max-width: 767px) {
    .header-inner-left h1 { font-size: 3.5rem; }
    .header-inner-right { max-width: 100%; }
    .about-left { max-width: 100%; }
}
@media (max-width: 575px) {
    .header-inner-left h1 { font-size: 3rem; }
    .header-inner-left h1 span { font-size: 3rem; }
    .header-inner-left .lead { font-size: 2rem; }
}
@media (max-width: 400px) {
    .header-inner-left h1 { font-size: 2.8rem; }
}
